

.rental-car-page {
    width: 500px;
    margin: 0 auto;
}

.rental-car-card {
    margin-bottom: 20px;
}

.rental-car-card-image {
    width: 100%;
    height: 250px;
}

.rental-car-card-content {
    padding: 10px;
}

.rental-car-card-title {
    font-size: 20px;
}

.rental-car-card-subtitle {
    font-size: 16px;
}

.rental-car-card-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.rental-car-card-list-item {
    margin-bottom: 5px;
}

.rental-car-form {
    width: 100%;
}

.rental-car-form-input {
    width: 100%;
}

.rental-car-form-button {
    width: 100%;
    margin-top: 20px;
}
